
body {
    background-color: #f8f9fa; /* Light grey background, you can change it to any color you like */
}

header h1 {
    color: #007bff; /* Bootstrap primary color */
}

.intro p {
    font-size: 1.25rem; /* Larger font size for the intro text */
}

.actions button {
    width: 150px; /* Set a specific width for buttons */
    font-weight: bold; /* Make button text bold */
}
.clickable-item {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
  }