<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body style="align-items: center">
     <header class="mb-4">
        
        <h1>Game Friends Hub</h1>
        <p>Add friends to compare scores and compete!</p>
    </header>    
     
        <section class="actions">
            <h3>Manage Your Friends</h3>
            <form action="/friends/add" method="POST">
                <input type="text" id="friendUsername" name="friendUsername" placeholder="Enter Friend's ID" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-primary">Add Friend</button>
            </form>

            <form action="/friends/remove" method="POST">
                <input type="text" id="friendUsername" name="friendUsername" placeholder="Friend's User ID" class="form-control mr-sm-2">
                <button type="submit" class="btn btn-danger">Remove Friend</button>
            </form>
        </section>
        
    </main>
</body>
</html>