<!DOCTYPE html>
<head>
     <title>Game Over</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
<h2>Your final score is: {{{score}}}</h2>
 <section class="actions" style="flex-direction: row; margin-bottom: 70px">
            <button onclick="window.location.href='/start-game';">New Game</button>
            <button onclick="window.location.href='/friends';">Friends</button>
        </section>
</head>