<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .element {
        text-decoration:none;
        margin-left:30px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  
  <a href="/friends" class="element">Friends</a>
  <form action="/logout" method="GET" class="element">
    <input type="button" value="Log Out">
  </form> 
</nav>

</body>
</html>

</html>